---
---

@import "{{ site.theme }}";
//#footer_wrap {display: none;}  // the published with GH pages line 
#forkme_banner {display: none;}  // turn off the View on GitHub button
//#downloads {display: none;}
