body {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  background-color: whitesmoke
}

/* breadcrumb style */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: whitesmoke;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (>) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}
